.header {
  margin-top: 20px;
  text-align:left;
  position: running(header);
}
@page {
  margin: 100px;
  size: A4;
  font-family: EmbArial !important;
  margin-left: 80px;
  margin-right: 60px;
 
  @bottom-right {
    content: element(footer);
    content: "Page " counter(page) " of " counter(pages);
    
  }
  
  @top-left {
    content: element(header);
  }
}


.footer {
  position: running(footer);
}


@font-face {
  font-family: 'EmbArial' !important;
  src: url('Arial.woff') format('woff'),
       url('ArialBold.woff') format('woff'),}

body {
  font-family: EmbArial;
}
